/* Common */

*,
*::before,
*::after{
box-sizing: border-box;
margin: 0;
padding: 0;
margin-left: 0;
}
html{
    background-color: #e6e6e6;
}

/* Border */
.side-border-right{
    position: absolute;
    /* height: 550px; */
    height: 750px;
    /* position: absolute; */
   
    right: 0;
    /* margin-top: 110px; */
    
}
.side-border-left{
    position: absolute;
    /* height: 550px; */
    height: 750px;
    left: -510px;
    right: 50em;
    /* position: absolute;
    margin-top: 110px; */
}

/* Navbar */

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.nav-item{
    font-family: 'DM Sans', sans-serif;
    margin: 0px 10px;
    font-weight: 900;
}
.nav-link{
    border-radius: 1.5rem;
}
.nav-link:hover{
    text-decoration: underline;
    color:black !important;
    background-color: white !important;
    /* color:black !important; */
    cursor: pointer;
    border-radius: 1.5rem;
}

/* Heading */
#home-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h1 {
    font-size: 4em;
    text-transform: uppercase;
}

/* LeftPart */
.sub-heading {
    padding-bottom: 1.3rem;
    color: black;
    font-size: 2rem;
}
.bottom__key {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 170%;
    color: #4074d8;
    padding-bottom:50px;
}
.img-fluid{
    width: 100px;
}
span {
    font-weight: 800;;
}
#side{
    width: 809px;
    width: 58%;
    /* margin-left: -363px; */
    padding-top:20px ;
    /* margin-left: -278px; */
    margin-left: -18%;
    position: absolute;
}
@media only screen and (max-width: 992px)
{
    .side-border-left, .side-border-right {
        visibility: hidden;
    }
    #side{
        margin-left: -19%;
        width: 67%;
    }
}
@media only screen and (max-width: 1100px){

#side {
    padding-top: 65px;
    margin-left: -18%;
    width: 70%;
}}

@media only screen and (max-width: 1198px)
{
    #side{
        padding-top:50px ;
        margin-left: -31%;
    width: 70%;
    }
}
@media only screen and (max-width:991px) {
    #side{
        padding-top: 50px;
        margin-left: -19%;
        width: 67%;
    }
}
@media only screen and (max-width:767px) {
    #side{
        visibility: hidden;
    }
}