*,
*::before,
*::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    background-color: #e6e6e6;
}

.nav-item {
    font-family: 'DM Sans', sans-serif;
    margin: 0px 10px;
    font-weight: 900;
}
.nav-link {
    color: white !important;
}
.nav-link:hover{
    text-decoration: underline;
    background-color: white !important;
    color:black !important;
    cursor: pointer;
    border-radius: 1.5rem;
    text-decoration: underline;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white !important;
}

 /* Typography */

h1 {
     font-size: 4em;
     text-transform: uppercase;
}
h2 {
     font-size: 2rem;
     font-weight: 700;
}
span {
     font-weight: 800;;
}
p {
    padding-bottom:1rem;
    color: rgb(94, 94, 94);
    font-size: 1.3rem;
}
#home-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Main section */

.mid-section {
   line-height: 1.2;
 }

.sub-heading {
    padding-bottom: 1.3rem;
    color: black;
    font-size: 2rem;
}
.side-border-right{
  
    height: 550px;
    position: absolute;
    right: 0px;
    margin-top: 110px;
    
}
.side-border-left{
   
    height: 550px;
    position: absolute;
    margin-top: 110px;
}

.bottom__key {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 170%;
    color: #4074d8;
    padding-bottom:50px;
}
@media(max-width:1138px){
    .side-border-left, .side-border-right {
        visibility: hidden;
    }
}

@media (max-width:766px){
    .nav-item{
    text-align : center;
    }
 }
