*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6e6e6;
}
.nav-item {
    font-family: 'DM Sans', sans-serif;
    margin: 0px 10px;
    font-weight: 900;
}
.nav-link {
    color: white !important;
}
.nav-link:hover{
    text-decoration: underline;
    background-color: white !important;
    color:black !important;
    cursor: pointer;
    border-radius: 1.5rem;
    text-decoration: underline;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white !important;
}


.bg-light {
    background-color: #e6e6e6 !important;
}


pre{
    display: block;
    font-size: 87.5%;
    background: #e6e6e6;
    color: #212529;
}

.Intro h1{
    font-family: 'Sunflower', sans-serif;
    font-weight: 900;
    padding-top: 60px;
    margin-left: 50px;
}

.Intro p{
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
    font-weight: 900;
    font-size: 1.5rem;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #00192e;

}

#register_btn{
    border : none;
    outline: none;
    background-color: rgb(255, 208, 0);
    font-family: 'DM Sans', sans-serif;   
    font-size: 1.5rem !important;
    font-weight: 700;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
#btndiv{
    
    margin-left: 180px;
}

.bpay{
    position:absolute;
    right: 50px;
    top: 200px;
}

.icnmes{
    margin-top: 100px;
    margin-left:90vw;
}


@media(max-width:1318px)
{
        
    .Intro h1{
        padding-top: 60px;
        margin-left: 50px;
        font-size: 1.2rem;
    }

        
    .Intro p{
        font-weight: 900;
        font-size: 1rem;
    }
     
        
    #register_btn{
        font-size: 1rem !important;
        font-weight: 700;
        padding: 0.5rem 1rem !important;
        cursor: pointer;
        
    }

        
    #btndiv{
        margin-top: -30px;
        margin-left: 110px;
    }

        
    .icnmes{
        margin-top: 300px;
        margin-left:90vw;
    }
}


@media(max-width:1147px)
{
    .bpay{
        height:300px;
        width:500px;
    }
}


@media(max-width:943px)
{
    .bpay{
        right: calc( ( 100vw - 500px ) / 2 );
        top: 450px;
    }

    .icnmes{
        margin-top: 450px;
    }

    .Intro h1{
        margin-left: 37vw;
    }

        
    .Intro p{
        margin-left: 37vw;
    }
     
        
    #register_btn{
        font-size: 0.8rem !important;
        
    }
        
    #btndiv{
        margin-top: -30px;
        margin-left: 43vw;
    }

    
    .icnmes{
        margin-top: 450px;
        margin-left:90vw;
        height:50px;
    }

}
@media(max-width:768px){
    .nav-item{
      text-align: center;
    }
}

@media(max-width:550px)
{
    .Intro h1{
        margin-left: 27vw;
    }

        
    .Intro p{
        margin-left: 27vw;
    }
     
        

        
    #btndiv{
        margin-top: -30px;
        margin-left: 35vw;
    }

    .icnmes{
        margin-top: 450px;
        margin-left:80vw;
    }

    .bpay{
        height:200px;
        width:400px;
        right: calc( ( 100vw - 400px ) / 2 );
        top: 450px;
    }
    
}



@media(max-width:550px)
{
    .Intro h1{
        margin-left: 17vw;
        font-size:0.8rem;
    }

        
    .Intro p{
        margin-left: 17vw;
        font-size:0.7rem;
    }
     
        

        
    #btndiv{
        margin-top: -30px;
        margin-left: 30vw;
        font-size:0.7rem;
    }

        
    #register_btn{
        font-size: 0.5rem !important;  
    }

    .bpay{
        height:200px;
        width:320px;
        right: calc( ( 100vw - 320px ) / 2 );
        top: 450px;
    }
    .icnmes{
        height:50px;
        margin-top: 400px;
        margin-left: 85vw;
    }
}

