body{
  background-color: lightgray;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
  font-size: large;
}
.box{
  margin-top:30px;
  display: flex;
}
.content{
  margin-top: 50px;
}
p{
  margin-left: 63px;
}
.hr-text {
  margin-top: 33px;
  border: none;
  border-top: 1px dashed black;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.hr-text:after {
  background: #dedee1;
  content: "100,000 Business Trust CashFree";
  padding: 0 4px;
  position: relative;
  top: -13px;
}
.hr-right {
  border: none;
  border-top: 1px dashed black;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.hr-right:after {
  background: #dedee1;
  content: "Or";
  padding: 0 4px;
  position: relative;
  top: -13px;
}
.left-hr{
  margin-top: 216px;
  border-top: 1px dashed black;
}
.img-left{
  float: left;
  height: 45px;
}
.img-right{
  float: left;
  height: 21px;  
}
.left{
  margin-right: 0%;
  text-align: left;
  background-color:#dedee1;
  width: 600px;
  margin: 25px 9%;
  padding: 20px;
  height: 600px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.right {
  margin-left: 275px;
  background-color:#dedee1;
  width: 600px;
  margin: 25px 9%;
  padding: 20px;
  height: 600px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btn{
  margin-top:10px ;
  margin-bottom: 31px;
  width: 373px;
}

.right-heading{
  text-align: left;
  margin-bottom: 24px;
}

.container{
  margin-bottom: 24px;
}
.yellow{
  background-color: #e1b92f;
  -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
  box-shadow: 0 21px 19px -2px #dedee1;
  transform: translateY(-1px);
}

.invisible{
  display: none;
}
.right-2{
  margin-left: 275px;
  background-color:#dedee1;
  width: 600px;
  margin: 25px 9%;
  padding: 20px;
  height: 600px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden overlay;
}
.register{text-align: left;
  margin-top: 21px;
  height: 37px;
}
.unregister{
  text-align: left;
  height: 33px;
}
.unregister-checkbox{
  margin-bottom: 0;
  margin-left: 9px;
  margin-right: 47px;
  height: 38px;
  background-color: white;
  display: flex;
}
.checkbox-text{
  padding-top: 6px;
  padding-left: 10px;
  text-align: left;
  width: 321px;
}
.unregister-checkbox:hover{
  background-color: whitesmoke;
}
.unregister-checkbox:focus{
  color: #e1b92f;
}
.checkbox-icon{
  color: #b8b8bb;
  padding-top: 6px;
  float: inline-end;
}
.button-next{
  height: 37px;
  
}
.buttons{
  overflow: hidden overlay;
}
.back-button{
  height: 37px;
  background-color: #b8b8bb;
  width: 93px;
  margin-right: 211px;
}
.next-button{
  height: 37px;
  background-color: #b8b8bb;
  width: 93px;
  background-color: #e1b92f;
}
.check{
  color: blue;
}
.radio{
  height: 0;
}


.right-3 {
  margin-left: 275px;
  background-color:#dedee1;
width: 600px;
margin: 25px 9%;
padding: 20px;
height: 600px;
text-align: center;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.adjust{
  height: 37px;
  padding-inline: 25px;
}
.adjustleft{
  margin-right: 200px;
}
.btn-3{
  margin-top:300px ;
  margin-bottom: 10px;

}
.space{
  margin-top: 50px;
}
.right-4 {
  margin-left: 275px;
  background-color:#dedee1;
width: 600px;
margin: 25px 9%;
padding: 20px;
height: 600px;
text-align: center;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.adjust-4{
  padding-inline: 25px;
  width: 100%;
}
.btn-4{
  margin-top:200px ;
  margin-bottom: 30px;

}
.right-heading{
  text-align: left;
  margin-bottom: 24px;
}



@media screen and (max-width: 886px) and (min-width: 600px){
  .box{

    display: block;
  }
  .left{
      margin-left: 132px;
      width: 500px;
  }
  .right,.right-2,.right-3,.right-4{
      margin-left: 132px;
      width: 500px;
  }
  .navbar{
      width: 100%;
  }
}  

@media screen and (max-width: 1030px) and (min-width: 886px)  {
  .box{
      display: flex;
  }
  .left{
      margin: 22px;
      width: 500px;
  }
  .right,.right-2,.right-3,.right-4{
      margin: 22px;
      width: 500px;
  }
  .checkbox-text{
    width: 333px;
  }
}
@media only screen and (max-width: 600px){
  .box{

      display: block;
    }
    .left{
        margin: 22px;
        width: 373px;
    }
    .right,.right-2,.right-3,.right-4{
      margin: 22px;
        width: 373px;
    }
    .btn{
        width: 332px;
    }
    .left-hr{
      margin-top: 138px;
  }
  .right-heading{
    font-size:x-large;
  }
  .unregister-checkbox{
    width: 312px;
  }
  .checkbox-text{
    width: 270px;
  }
  .back-button{
    margin-right: 124px;
  }
}
@media only screen and (max-width: 330px){
  .box{

      display: block;
    }
    .content {
      margin-top: 19px;
  }
    .left{
      height: 494px;
      margin: 14px;
      width: 295px;
    }
  .right,.right-2,.right-3,.right-4{
      height: 666px;
      margin: 14px;
      width: 295px;
    }
    
  .btn{
        width: auto;
    }

  .left-hr{
      margin-top: 24px;
  }
  .right-heading{
    font-size:x-large;
  }
  .unregister-checkbox{
    width: 240px;
  }
  .checkbox-text{
    width: 203px;
  }
  .back-button{
    margin-right: 60px;
  }
}


.required{
  color: red;
  float: left;
}
.buttons{
  width: max-content;
}
